* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: blueviolet;
    font-size: 50px;
    position: absolute;
    background-color: black;
    transform: translate(30%,30%);
}

h2 {
    padding: 10px;
    font-size: 30px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: plum;
    text-align: center;
}

img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#banner {
    width:100%;
    height: 300px;
    position: relative;
}

#topbanner {
    display: flex;
}